:root{
    /* colores */
    --text-color: #011341;
    --gray-color: #828282;
    --icon-color: #5d83ef;
    --container-color: #fbfcff;

    /* typography */
    --body-font: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--container-color);
}

.bg img {
    /* full height */
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding: 20px;
}
.img__profile {
    display: grid;
    position: relative;
}
.img__profile img {
    width: 150px;
    height: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -100px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 200px;
    box-shadow: 0 40px 40px rgba(252, 94, 37, 0.144);
}
.img__profile .curso {
    font-size: 20px;
    line-height: auto;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    color: var(--text-color);
}
.name {
    font-size: 20px;
    line-height: 54px;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    color: var(--text-color);
}
.id {
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    font-style: normal;
    background: rgb(223, 223, 223);
    color: rgb(95, 95, 95);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* item section */
.item {
    padding: 10px;
    display: grid;
    margin-top: 50px;
    margin: 10px;
    grid-template-columns: 15% 80% 10%;
    color: var(--text-color);
}
.item img {
    width: 24px;
}
.item:hover {
    border-radius: 8px;
    background: rgba(255, 145, 105, 0.463);
    transition: all 0.5s ease;
}

.item span {
    font-style: normal;
    font-weight: 550;
    padding: 8px;
    line-height: 16px;
}

.item i {
    display: grid;
    margin: 0;
    font-weight: 550;
    font-size: 35px;
}
.item a {
    color: var(--text-color);
    padding-top: 5px;
    justify-content: center;
    font-style: normal;
    font-weight: 550;
    line-height: 16px;
    text-decoration: none;
}

.item span {
    padding: 0;
}


.item_sair {

}

/* responsive layout */

@media screen and (max-width: 600px) {
    
    .bg img {
        width: 100%;
        margin-top: 0;
    }
}