* {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

center {
    background: rgb(239, 239, 239);
    padding: 30px;
    padding-bottom: 50px;
}

.logo-empresas img {
    text-align: center;
}
.imgLogo {
    display: flex;
}
.imgLogo img {
    display: flex;
    margin-left: -40px;
}



.labelTitulo {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(87, 87, 87);
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.46);
    font-weight: bold;
    margin: 10px
}

.estiloTitulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #5f5f5f;
    font-weight: 700;
}

img {
    display: flex;

}
.assinatura {
    position: relative;
    display: block;
    margin-top: -140px;
    padding: 10px;
    color: rgb(0, 234, 0);
    font-weight: bold;
}

span.nome {
    position: relative;
    display: block;
    padding: 10px;
}
span.data {
    position: relative;
    display: block;
    padding: 10px;
}
span.cpf {
    position: relative;
    display: block;
    padding: 10px;
}
span.obs {
    position: relative;
    display: block;
    padding: 10px;
}

span.label1 {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: white;
    background: green;
    border-radius: 3px;
    box-shadow: 0 40px 40px rgba(252, 94, 37, 0.144);
    cursor: pointer;
}

span.label2 {
    position: relative;
    display: inline-flex;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    color: grey;
    background: white;
    border-radius: 3px;
    box-shadow: 0 40px 40px rgba(252, 94, 37, 0.144);
    cursor: pointer;
}




/* primeira pagina */

.obs {
    margin: 10px;
}

.proximo {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: rgb(0, 145, 255);
}